In [1]:
import sqlite3
import csv
import pandas as pd
import os
import numpy as np

In [ ]:
articles = {'id': 'john','john',''}

In [4]:
d = {'user': ['john','john','john','lori','mike'], 'time': ['4', '5', '6','7','8'], 'article': [7, 8, 9, 11, 2]}

In [5]:
df2 = pd.DataFrame(d)

In [6]:
df2

   user time  article
0  john    4        7
1  john    5        8
2  john    6        9
3  lori    7       11
4  mike    8        2

In [7]:
conn = sqlite3.connect('aritcles.sqlite')
cur = conn.cursor()

In [10]:
cur.execute('''DROP TABLE IF EXISTS articles''') 
cur.execute('''
            CREATE TABLE articles(
                id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                user TEXT,
                time TEXT,
                article INTEGER)
                ''')
conn.commit()

In [ ]:
for index, row in df2.iterrows():
    try:
        cur.execute('''
                INSERT INTO articles(
                bibcode,
                keywords
                ) VALUES (?,?)''',(row[0],row[1])
               )
    except sqlite3.Error as e:
        print(e)
conn.commit()